.aboutContainer {
    --gap-space :20px;
    display: flex;
    flex-direction: row;
    gap:100px;
    width: calc(100vw - var(--gap-space));
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.textContainer {
    display:flex;
    flex-direction:column;
    width:30vw;
}

.aboutText {
    font-size:16px;
}

.waffle {
    width: 500px;
    height: auto;
}