@keyframes slideInAnimation {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  20% {
    transform: translateX(-100px);
    opacity: 1;
  }
  75% {
    transform: translateX(-100px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100%;
  height: 80vh;
  color: white;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.contactTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 12px 0px;
}

.iconList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon {
  color: #e4a053;
  transition: transform 0.3s ease, color 0.1s ease;
}

.icon:hover {
  transform: scale(1.2);
  color: #efb36e;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formContainer input,
.formContainer textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #191919;
  color: #ffffff;
}

.formContainer input:focus,
.formContainer textarea:focus {
  background-color: #191919;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffde0e;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #191919 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #ffde0e 10%, #e4a053 60%);
  color: #121212;
  cursor: pointer;

  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.02);
}

.sendStatus {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 7px;

  position: fixed;
  top: 10%;
  right: -100px;

  width: 200px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid #ffc400;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  padding: 10px;

  animation: slideInAnimation 3s ease-in forwards;
}
