.experienceBlock, .roles, .rebnyRole {
    display:flex;
    flex-direction: column;
}

.experienceBlock {
    color:#B0B0B0;

    min-height:80vh;
    padding-left: 200px;
}

.experienceBlock h1 {
    font-size:80px;
    margin-bottom: 30px;
}

.roles h2 {
    font-size:35px;
}

.roles {
    margin-left: 100px;
    width: 850px;
    gap:30px;
}

.rebnyRole {
    gap:10px;
}

.position {
    color:#d8e7e6;
}

.roleDetails {
    width:100%;
}

.position, .roleDetails, .nonTechRole {
    font-weight:300;
}


.nonTechRole {
    text-decoration: underline;
    font-size: 18px;
}