.experienceBlock, .roles, .rebnyRole {
    display:flex;
    flex-direction: column;
}

.experienceBlock {
    color:white;
    padding: 150px 200px;
    padding-top: 100px;
}

.experienceBlock h1 {
    font-size:80px;
    margin-bottom: 30px;
}

.roles h2 {
    font-size:35px;
}

.roles {
    margin-left: 100px;
    gap:30px;
    width: 850px;
}

.rebnyRole {
    gap:10px;
}

.position {
    color:#d8e7e6;
}

.position, .roleDetails, .nonTechRole {
    font-weight:300;
}

.nonTechRole {
    text-decoration: underline;
    font-size: 18px;    
}