.linkContainer {
    display: flex;
    padding: 20px 200px;
    max-width: 100%;
    gap: 20px;
    position: fixed;
    right:0;
    justify-content:flex-end;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.linkContainer > a {
    text-decoration: none;
    color:#E0E0E0;
}

.visible {
    transform: translateY(0);
}