.heroContainer {
    display:flex;
    height:100vh;
    width:100vw;
}

.main {
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding: 0px 150px;
}

h1, h2 , p{
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 80px;
}

p {
    font-size:20px;
}

.name {
    background:linear-gradient(90deg, #888888 10%, #6ed6ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}