.heroContainer {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 100%;
  height: 100vh;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: clamp(600px, 1200px, 1500px);

  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  text-align: left;
  color: #e0e0e0;
}

.greeting,
.nameContainer,
.secondaryText {
  padding: 0px;
  margin: 0px;
  transition: transform 0.3s ease-in-out;
}

.greeting:hover,
.nameContainer:hover,
.secondaryText:hover {
  transform: scale(1.05);
}

h1 {
  font-size: 80px;
}

.secondaryText {
  font-size: 25px;
  color: #e0e0e0;
}

p {
  font-size: 20px;
  color: #e0e0e0;
}

.name {
  background: linear-gradient(90deg, #ffde0e 10%, #e4a053 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 3px rgba(255, 222, 14, 0.4), 0 0 5px rgba(228, 160, 83, 0.4);
}

h1,
h2,
p {
  margin: 0px;
}
