.heroContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color:black
}

.main {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

h1, h2 {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 80px;
}

.name {
    color:blue;
}