.glow {
  position: fixed;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;

  background: radial-gradient(circle, rgba(255, 221, 0, 0.057), transparent 90%);
  filter: blur(160px);
  mix-blend-mode: lighten;
  opacity: 1;

  transition: opacity 0.3s ease;
  will-change: transform;
}

@media (max-width: 768px) {
  .glow {
    display: none;
  }
}
