.projectContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 100px;
    
    width:100vw;
    height:80vh;
    padding: 100px 0px;
}

.projectDisplay {
    width: 40%;
    height: 70%;
    border: 1px red solid;
}

.projectInfo {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap: 10px;

    padding: 20px;
    height:calc(100% - 20px);
}

.projectInfo, .projectList {
    height: 70%;
}

.projectTitle, .projectDesc {
    color: #B0B0B0;
}

.projectImage {
    height: 70%;
    border-radius: 40px;
    object-fit: cover;
}

.projectDesc {
    font-size: 18px;
}

.projectNames {
    display:flex;
    flex-direction:column;
    gap:20px;

    padding-inline-start: 0px;
    margin:0px;
    padding:10px;
}

.projectList {
    border: 1px red solid;
    width: 40%;
    overflow:auto;
}
