@keyframes slideArrow {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(5px, -5px);
  }
}

.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  align-self: center;
  margin-top: 3rem;
}

.carouselContent {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  position: relative;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navArrowLeft,
.navArrowRight {
  position: absolute;
  cursor: pointer;
  top: 40%;
  transition: transform 0.3s ease;
}

.navArrowLeft:hover,
.navArrowRight:hover {
  transform: scale(1.3);
}

.navArrowLeft {
  left: 3rem;
}

.navArrowRight {
  right: 3rem;
}

.skillPointer {
  display: flex;
  flex-direction: column;
  gap: 14px;

  position: absolute;
  top: 0px;
  right: 170px;
  animation: slideArrow 1s infinite alternate;
}

.skillPointer img {
  width: 2.5rem;
  object-fit: cover;
  rotate: -45deg;
}

/* Here starts the media queries for tablets */

@media (max-width: 1024px) {
  .skillPointer {
    top: 10px;
    right: 50px;
  }
}

/* Here starts the media queries for phones */

@media (max-width: 600px) {
  .skillPointer {
    top: 10px;
    right: 50px;
  }
}
