.aboutContainer {
  --gap-space: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;

  width: calc(100% - var(--gap-space));
  margin-bottom: 6rem;
  padding-top: 6rem;
}

.sectionTitle {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0 0 3px rgb(255, 255, 255);
}

.photoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  flex: 1;
}

.aboutText {
  color: rgba(255, 255, 255, 0.75);
}

.temp {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.temp:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(84, 84, 84, 0.5);
}

/* Here starts the media queries for tablets */

@media (max-width: 1024px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 80vw;
  }

  .temp {
    width: 300px;
    height: 300px;
  }

  .aboutText {
    flex: 2;
  }
}

/* Here starts the media queries for phones */

@media (max-width: 600px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .temp {
    width: 150px;
    height: 150px;
  }

  .aboutText {
    flex: 2;
  }
}

/* Manual override for even smaller screens */
@media (max-width: 400px) {
  .aboutText {
    font-size: 10px;
  }
}
