@keyframes slideArrow {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(5px, -5px);
  }
}

.experienceBlock,
.roles,
.rebnyRole {
  display: flex;
  flex-direction: column;
}

.experienceBlock {
  color: #b0b0b0;

  min-height: 80vh;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
  text-shadow: 0 0 3px rgb(255, 255, 255);
}

.technicalTitle {
  font-size: 1.8rem;
}

.experienceContent {
  display: flex;
  width: 100%;
}

.roles {
  gap: 30px;
  flex: 1;
}

.rebnyTitle {
  display: inline-block;
  background: linear-gradient(45deg, #e80909 10%, #e3e3e3 90%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: bold;
}

.rebnyRole {
  gap: 10px;
}

.position {
  color: #d8e7e6;
}

.nonTechRole p {
  text-decoration: underline;
}

.linkedIn {
  color: inherit;
  text-decoration: none;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1;

  position: relative;
}

.technologyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  height: 70%;
  width: 80%;
}

.skillPointer {
  display: flex;
  flex-direction: column;
  gap: 14px;

  position: absolute;
  top: 40px;
  right: -5px;
  animation: slideArrow 1s infinite alternate;
}

.skillPointer img {
  width: 2.5rem;
  object-fit: cover;
  rotate: -45deg;
}

/* Here starts the media queries for tablets */

@media (max-width: 1024px) {
  .experienceContent {
    flex-direction: column;
    gap: 30px;
  }

  .skillPointer {
    top: 0px;
    right: 40px;
  }

  .skillsContent {
    width: 80vw;
    align-self: center;
  }
}

/* Here starts the media queries for phones */

@media (max-width: 600px) {
  .experienceContent {
    flex-direction: column;
    gap: 30px;
  }

  .skillPointer {
    top: 20px;
    right: 25px;
  }

  .skillsContent {
    width: 100%;
    align-self: center;
  }
}
