.experienceBlock,
.roles,
.rebnyRole {
  display: flex;
  flex-direction: column;
}

.experienceBlock {
  color: #b0b0b0;

  min-height: 80vh;
  margin-bottom: 6rem;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
  text-shadow: 0 0 3px rgb(255, 255, 255);
}

.technicalTitle {
  font-size: 1.8rem;
}

.experienceContent {
  display: flex;
  width: 100%;
}

.roles {
  gap: 30px;
  flex: 1;
}

.rebnyTitle {
  display: inline-block;
  background: linear-gradient(45deg, #e80909 10%, #e3e3e3 90%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: bold;
}

.rebnyRole {
  gap: 10px;
}

.position {
  color: #d8e7e6;
}

.nonTechRole p {
  text-decoration: underline;
}

.linkedIn {
  color: inherit;
  text-decoration: none;
}

/* Here starts the media queries for tablets */

@media (max-width: 1024px) {
  .experienceContent {
    flex-direction: column;
    gap: 30px;
  }
}

/* Here starts the media queries for phones */

@media (max-width: 600px) {
  .experienceContent {
    flex-direction: column;
    gap: 30px;
  }
}
